.nav{
  text-align: center;
}

.a{
  background: #fff408;
  padding: 7px 15px;
  display:inline-block;
  transform: skew(-20deg);
  box-shadow: grey 7px 5px 20px;
  font-family: 'Revalia', cursive;
  text-shadow: grey 1px 1px 1px;
  cursor: pointer;
  /*border: 2px solid #a19e48;*/
}

.a:visited, .a:hover, .a:active, .a:link{
  color: black;
  text-decoration: none;
}

.a:hover{
  background: #a09608;
  font-weight: bolder;
}

.a span{
  display:inline-block;
  transform: skew(20deg);
}

.submenu a{
  margin: 5px 0px;
  background: #ffc508;
}

